@import 'variables';

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}
::-webkit-scrollbar-thumb {
  background: $secondary;
  cursor: pointer;
}
::-webkit-scrollbar-track {
  background: 0 0;
}

.blur-admin {
  &.application {
    background: none;
  }
  &::before {
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url($mainBgUrl) no-repeat center center;
    background-size: cover;
    will-change: transform;
    z-index: -1;
  }
}
