// Theme Colors

$primary: #4d648d;
$primaryDark: #1f3a5f;
$primaryLight: #7c91bd;
$secondary: #2f3131;
$secondaryDark: #050808;
$secondaryLight: #585a5a;
$accent: #a239ca;
$error: #f24c4e;
$warning: #f7882f;
$info: #67aeca;
$success: #57bc90;

$mainBgUrl: 'assets/blur-bg.jpg';
